<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> 
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Esquina Beer</title>
    <link rel="stylesheet" href="/EsquinaBeer/src/main/resources/static/css/style.css"/>
    <link href="/EsquinaBeer/src/main/resources/static/bootstrap/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous"/> 
    <link rel="shortcut icon" href="/EsquinaBeer/src/main/resources/static/img/logo.png" type="image/png"/>
</head>
<body>
    <header class = "header">
        <div class = "logo">
            <img src = "img/logo.png"/>
        </div>
        <nav class = "menu-urls">
            <ul class = "wrapper">
                <li class = "item"><a href="#fardoLongNeck">Fardo cerveja  LN</a></li>
                <li class = "item"><a href="#cervejaLN">Cerveja Long Neck</a></li>
                <li class = "item"><a href="#fardoCervejaLata">Fardo cerveja Lata</a></li>
                <li class = "item"><a href="#cervejaLata">Cerveja Lata</a></li>
                <li class = "item"><a href="#refrigerante">Refrigerante</a></li>
                <li class = "item"><a href="#energetico">Energetico</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id = "espaco">a</section>
        <div class = "container">
            <div id="mensagemSucesso" style="display: none;" class="aviso">
                <p>Sua operação foi concluída com sucesso!</p>
            </div>
            <div th:include="~{fardoLongNeck :: fardoLongNeck}"></div>
            <div th:include="~{longNeck :: longNeck}"></div>
            <div th:include="~{fardoLata :: fardoLata}"></div>
            <div th:include="~{lata :: lata}"></div>
            <div th:include="~{refrigerante :: refrigerante}"></div>
            <div th:include="~{energetico :: energetico}"></div>
        </div>
    </main>

    <div class = "containerMain" th:if="${not #lists.isEmpty(carrinho.produtos)}">
        <div class = "container">  
            <div class = "inicioDuvidas">
                <div class = "row">
                    <div class = "col-sm-12">
                        <label for="pergunta-01" class = "label">
                            <h5>Total sem a entrega</h5>
                           <strong><span th:text="'R$' + ${carrinho.valorTotal}"></span></strong>
                           <span th:text="' / ' + ${carrinho.quantidadeTotal} + ' itens'"></span>
                        </label>
                        <input type="checkbox" name="pergunta" id="pergunta-01"/>
                         <div class="content">
                            <section class="container normal-section">
                                <table class="table"> 
                                    <thead> 
                                        <tr> 
                                            <th class="table-head-item first-col"></th>
                                            <th class="table-head-item second-col"></th>
                                            <th class="table-head-item third-col"></th>
                                            <th class="table-head-item fourth-col"></th>
                                            <th class="table-head-item fifth-col"></th>
                                        </tr> 
                                    </thead> 
                                    <tbody> 
                                        <!-- Iterar sobre os produtos do carrinho -->
                                        <tr th:each="produto : ${carrinho.produtos}"> 
                                            <td>
                                                <img th:src="${produto.src_img}"  class="product-image"/>
                                            </td> 
                                            <td th:text="${produto.nome}"></td> 
                                            <td th:text="'R$' + ${produto.preco}"></td>
                                            <td th:text="${produto.quantidade}"></td>
                                            <td id="opcoes">
                                                <form th:action="@{/remover}" method="post">
                                                    <input type="hidden" name="produtoId" th:value="${produto.id}"/>
                                                    <button type="submit" class="btn btn-danger">Remover</button>
                                                </form>
                                            </td> 
                                        </tr> 
                                    </tbody> 
                                    <tfoot>
                                        <tr>
                                            <td colspan="5" class="cart-total-container">
                                                <strong>Total</strong>
                                                <!-- exibir o total do carrinho -->
                                                <span th:text="'R$' + ${carrinho.valorTotal}"></span>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table> 
                                <!-- Formulário para finalizar a compra -->
                                <form th:action="@{/finalizar}" method="post">
                                    <button type="submit" class="btn btn-success" onclick="mostrarMensagemDeSucesso()">Finalizar Compra</button>
                                </form>
                            </section>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <div class="containerMain" th:unless="${not #lists.isEmpty(carrinho.produtos)}">
        <div class="container">  
            <div class="inicioDuvidas"></div>
        </div>
    </div>
    
    <script>
        
        function mostrarMensagemDeSucesso() {
            document.getElementById('mensagemSucesso').style.display = 'block';
            setTimeout(function() {
                document.getElementById('mensagemSucesso').style.display = 'none';
            }, 5000); // 5000 milissegundos = 5 segundos
        }
    </script>
</body>
</html>  
